# AI Proxy配置
OPENAI_API_KEY=your_openai_api_key
OPENAI_BASE_URL=https://api.openai.com/v1

# 数据库配置
POSTGRES_USER=example
POSTGRES_PASSWORD=example
POSTGRES_DB=example

# Redis配置
REDIS_PASSWORD=example

# Web CLI 配置
WEBCLI_WS_URL=ws://example.localhost:8007/xiaozhi/v1/

# Memobase API配置
DATABASE_URL=postgresql://example:example@memobase-server-db:5432/example
REDIS_URL=redis://:example@xiaozhi-server-redis:6379/0
ACCESS_TOKEN=example
PROJECT_ID=example
API_EXPORT_PORT=8019
API_HOSTS=http://0.0.0.0:8019
USE_CORS=false
